[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-pandas-profiling = "*"
ydata-profiling = "*"
scikit-learn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
